<% @plots.each do |plot| %>
  <h2>Plot #: <%= plot.number %></h2>
  <% plot.plants.each do |plant| %>
    <p><%= plant.name %> <%= link_to 'Remove Plant', "/plots/#{plant.id}", method: :delete %></p>
  <% end %>
<% end %>
